/* إخفاء شريط التمرير للصفحة بأكملها ولكافة العناصر مستقبلاً */
* {
  -ms-overflow-style: none;  /* لمتصفحات Internet Explorer و Edge القديمة */
  scrollbar-width: none;  /* لمتصفحات Firefox */
}

/* لمتصفحات Chrome, Safari, Opera و Edge الحديثة (WebKit) */
*::-webkit-scrollbar {
  display: none;
}
